{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View notification</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header>
        <h1>View notification</h1>
    </header>
    
    <table>
        <thead>
            {%for i in g%}
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Notification</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{i.login_id}}</td>
                <td>{{i.username}}</td>
                <td>{{i.notification}}</td>
                <td>{{i.date}}</td>
                
            </tr>
            <tr>
                <td>{{i.login_id}}</td>
                <td>{{i.username}}</td>
                <td>{{i.notification}}</td>
                <td>{{i.date}}</td>
                
                   
               
            </tr>
            {% endfor %}
            <!-- Dynamic rows will be inserted here -->
        </tbody>
    </table>
</body>
</html>
