{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Feedback - Safe Kerala</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header>
        <h1>View Feedback</h1>
    </header>
    
    <table>
        <thead>
            <tr>
    
            <th>id</th>
            <th>username</th>   
                <th>feedback</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {%for i in f%}
            <tr>
                
                <td>{{i.id}}</td>
                <td>{{i.username}}</td>
                <td>{{i.feedback}}</td>
                <td>{{i.date}}</td>
                
            </tr>
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.username}}</td>
                <td>{{i.feedback}}</td>
                <td>{{i.date}}</td>
                
                   
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>