{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Criminal List</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Criminal Records</h1>
    </header>

    
            <table>
                <thead>
                    {%for i in h%}
                    <tr>
                       
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Crime</th>
                        <th>Location</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src=""></td>
                        <td>{{i.criminalname}}</td>
                        <td>{{i.criminalcase}}</td>
                        <td>{{i.location}}</td>
                        <td>{{i.status}}</td>
                    </tr>
                    <tr>
                        <td><img src=""></td>
                        <td>{{i.criminalname}}</td>
                        <td>{{i.criminalcase}}</td>
                        <td>{{i.location}}</td>
                        <td>{{i.status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
       
</body>
</html>
