{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Police Stations - Safe Kerala</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <h1>Safe Kerala - Police Station Management</h1>
        <div>
            <nav>
            </nav>
        </div>
        <!-- Logout Button -->
        <button class="logout-btn" onclick="logout()">Logout</button>
    </header>

    <main>
        <h2>Police Station Details</h2>
        
        <!-- Table to display police station records -->
        <table id="police-station-table">
            <thead>
                <tr>
                    <th>stationname</th>
                    <th>location</th>
                    <th>contact</th>
                    <th>email</th>
                    <th>action</th>
                   
                </tr>
            </thead>
            <tbody>
            {%for i in o%}   

                <tr>
                    
                    <td>{{i.stationname}}</td>
                    <td>{{i.location}}</td>
                    <td>{{i.contact}}</td>
                    <td>{{i.email}}</td>
                    
                    <td>
                        <button class="btn-edit" onclick="editRow(this)">Edit</button>
                        <button class="btn-delete" onclick="deleteRow(this)">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <a href="addpolicestation">addpolicestation</a>
    
    </main>
  
</body>
</html>