{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Complaints</title>
    <link rel="stylesheet" href="../style.css"> 
</head>
<body>
    <div class="container">
        <h1>View Complaints</h1>
        <table>
            <thead>
                <tr>
                    <th>Complaint ID</th>
                    <th>Complaint</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
               
                 {%for i in c%}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.userid.email}}</td>
                    <td>{{i.complaints}}</td>
                    <td>{{i.replycomplaint}}</td>
                    <td>{{i.complaintdate}}</td>
                  
                    <td class="action-buttons">
                        <a href="viewdetails.html?complaint_id=101" class="view-btn">View</a>
                        <a href="replycomplaint.html?complaint_id=101" class="reply-btn">reply</a>
                    </td>
                </tr>
                {% endfor %}
                <!-- Repeat rows dynamically using backend integration -->
            </tbody>
        </table>
    </div>
</body>
</html>