<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="vaish">
    <form class="cd">
        <h1>Login</h1>
        <label for="">username</label>
        <input type="text"><br>
        <label for="">password</label>
        <input type="password"><br>
        <button type="submit">login</button>
    </form>
</div>
    
</body>
</html>