

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>send request status</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>send Request status</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Create Request</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
       
            <table>
                <thead>
                    <tr>
                        <th>labour ID</th>
                        <th>Name</th>
                        <th>phone no</th>
                        <th>Priority</th>
                        <th>skill</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="edit-btn" onclick="editLabour(1)">send request</button>
                            <button class="delete-btn" onclick="deleteLabour(1)">cancel</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                           
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>